# Exploratory Data Analysis
In this Exploratory Data Analysis Notebook we will look to the data, will analyze the content of dataset, understand the data distribution, check for missing data, handle outliers, see what are the relations between data in various files, feature engineering, etc.
## 1. Loading and Exploring Data
### 1.1 Loading libraries required and reading the data

In [31]:
!pip install lightgbm
!pip install xgboost
import pandas as pd
import numpy as np
import seaborn as sns
import re
import warnings
import matplotlib.pyplot as plt
import category_encoders as ce
import lightgbm as lgb
import copy
from scipy import stats
from sklearn.svm import SVC
from xgboost import XGBRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LassoCV
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from scipy.stats.mstats import winsorize
from sklearn.decomposition import PCA
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import make_column_selector
from sklearn.compose import ColumnTransformer

from sklearn.ensemble import StackingClassifier
warnings.filterwarnings('ignore')

Requirement already satisfied: lightgbm in /home/aibo/anaconda3/lib/python3.9/site-packages (3.3.3)
Requirement already satisfied: scipy in /home/aibo/anaconda3/lib/python3.9/site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: numpy in /home/aibo/anaconda3/lib/python3.9/site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/aibo/anaconda3/lib/python3.9/site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: wheel in /home/aibo/anaconda3/lib/python3.9/site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: joblib>=0.11 in /home/aibo/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/aibo/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Requirement already satisfied: xgboost in /home/aibo/anaconda3/lib/python3.9/site-packages (1.7.1)
Requirement already satisfied: numpy in /home/aibo/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /home/aibo/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)

In [32]:
train_origin_df = pd.read_csv("./data/train.csv")
test_origin_df = pd.read_csv("./data/test.csv")
train_auxiliary_count_df = pd.read_csv('./data/auxiliary_count_train.csv')
test_auxiliary_count_df = pd.read_csv('./data/auxiliary_count_test.csv')
train_auxiliary_distance_df = pd.read_csv('./data/auxiliary-data/auxiliary-distance-amenties-train.csv')
test_auxiliary_distance_df = pd.read_csv('./data/auxiliary-data/auxiliary-distance-amenties-test.csv')

train_auxiliary_number_df = pd.read_csv('./data/auxiliary-data/auxiliary-number-amenties-train.csv')
test_auxiliary_number_df = pd.read_csv('./data/auxiliary-data/auxiliary-number-amenties-test.csv')

train_auxiliary_closeness_df = pd.read_csv('./data/auxiliary-data/weighted_closeness_amenties_train.csv')
test_auxiliary_closeness_df = pd.read_csv('./data/auxiliary-data/weighted_closeness_amenties_test.csv')

In [190]:
train_df = pd.concat([train_origin_df,#train_auxiliary_count_df,
                      train_auxiliary_distance_df,
                      train_auxiliary_number_df,
                      train_auxiliary_closeness_df
                     ], axis=1)
test_df = pd.concat([test_origin_df,#test_auxiliary_count_df,
                      test_auxiliary_distance_df,
                       test_auxiliary_number_df,
                      test_auxiliary_closeness_df
                     ], axis=1)
train_df.drop(columns=['Unnamed: 0'],axis=1, inplace=True)
test_df.drop(columns=['Unnamed: 0'],axis=1, inplace=True)
# train_df = train_origin_df.merge(train_auxiliary_count_df, how='left', on='listing_id')
# test_df = test_origin_df.merge(test_auxiliary_count_df, how='left', on='listing_id')
# train_df = train_origin_df.copy()
# test_df = test_origin_df.copy()
# all 0.8571119866610346

In [191]:
train_df

,listing_id,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,...,closest_secondary,closest_mall,closest_mrt,num_comercial_3km,num_primary_3km,num_secondary_3km,num_mall_2km,num_mrt_1.5km,closeness_closest_mrt,betweenness_closest_mrt
0,122881,hdb flat for sale in 866 yishun street 81,sembawang / yishun (d27),866 yishun street 81,hdb 4 rooms,NaN,1988.0,3.0,2.0,1115,...,0.182562,0.620066,0.573567,0.0,10.0,8.0,2.0,1.0,0.174644,0.128873
1,259374,hdb flat for sale in 506b serangoon north aven...,hougang / punggol / sengkang (d19),hdb-serangoon estate,hdb,99-year leasehold,1992.0,4.0,2.0,1575,...,0.290331,0.551706,1.728895,7.0,24.0,18.0,6.0,0.0,0.065753,0.038208
2,665422,4 bed condo for sale in meyerhouse,128 meyer road,meyerhouse,condo,freehold,2022.0,4.0,6.0,3070,...,0.891531,0.822518,1.315256,1.0,7.0,8.0,7.0,1.0,0.079536,0.021037
3,857699,3 bed condo for sale in leedon green,26 leedon heights,leedon green,Condo,freehold,2023.0,3.0,2.0,958,...,1.102476,0.907845,0.723885,8.0,6.0,9.0,3.0,3.0,0.175467,0.259442
4,216061,2 bed condo for sale in one bernam,1 bernam street,one bernam,condo,99-year leasehold,2026.0,2.0,1.0,732,...,1.542649,0.428961,0.370022,3.0,6.0,4.0,5.0,11.0,0.321148,0.122512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20249,345066,2 bed condo for sale in lentor modern,lentor central,lentor modern,condo,99-year leasehold,2026.0,2.0,2.0,635,...,1.029960,2.008342,0.150007,0.0,8.0,8.0,0.0,2.0,0.085882,0.068491
20250,868680,2 bed condo for sale in mori,223 guillemard road,mori,Condo,freehold,2026.0,2.0,2.0,883,...,0.997603,0.532359,0.442631,3.0,17.0,8.0,17.0,8.0,0.286653,0.114521
20251,928187,4 bed condo for sale in pullman residences newton,18 dunearn road,pullman residences newton,condo,freehold,2023.0,4.0,4.0,1378,...,0.430393,0.765086,0.422131,3.0,10.0,6.0,27.0,4.0,0.324662,0.465552
20252,135122,hdb flat for sale in 691d woodlands drive 73,admiralty / woodlands (d25),admiralty flora,hdb 5 rooms,99-year leasehold,2017.0,3.0,2.0,1205,...,0.707623,0.602359,0.632423,4.0,17.0,11.0,6.0,1.0,0.135304,0.070952
20253,376579,4 bed condo for sale in pullman residences newton,18 dunearn road,pullman residences newton,condo,freehold,2023.0,4.0,4.0,1378,...,0.430393,0.765086,0.422131,3.0,10.0,6.0,27.0,4.0,0.324662,0.465552

## 3. Data Cleaning and Preprocessing
### 3.1 Missing Values
#### 3.1.1 Completeness of the data
First of all ,we would like to check which variables contain missing values.

In [192]:
total = train_df.isna().sum().sort_values(ascending=False)
percent = train_df.isna().sum()/(train_df.isna().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys =['Total', 'Percent'])
missing_data

                         Total   Percent
floor_level              16746  0.826800
total_num_units           5652  0.279056
tenure                    1723  0.085070
available_unit_types      1441  0.071146
built_year                 922  0.045522
num_baths                  434  0.021428
planning_area              113  0.005579
subzone                    113  0.005579
num_beds                    80  0.003950
closest_secondary            0  0.000000
closest_mall                 0  0.000000
closest_mrt                  0  0.000000
num_comercial_3km            0  0.000000
listing_id                   0  0.000000
num_primary_3km              0  0.000000
closest_comercial            0  0.000000
num_secondary_3km            0  0.000000
num_mall_2km                 0  0.000000
num_mrt_1.5km                0  0.000000
closeness_closest_mrt        0  0.000000
closest_primary              0  0.000000
lng                          0  0.000000
price                        0  0.000000
elevation                    0  0.000000
title                        0  0.000000
lat                          0  0.000000
property_details_url         0  0.000000
furnishing                   0  0.000000
size_sqft                    0  0.000000
property_type                0  0.000000
property_name                0  0.000000
address                      0  0.000000
betweenness_closest_mrt      0  0.000000

#### 3.1.2 Handling missing data
- `tenure`:  delete missing data.
- `built_year`: delete missing data.
- `num_beds`: delete missing data.
- `num_baths`: imputing missing data based on 'num_beds', since the correlation coefficient between 'NUM_beds' and' NUM_baths 'is 0.84
- `floor_level`: drop feature.
- `available_unit_types`:delete missing data.
- `total_num_units`:imputing missing data by average value (based on 'available_unit_types'?)
- `subzone`: delete missing data. The latitude and longitude coordinates corresponding to the missing values are outliers, so the missing values cannot be filled in by calculation.
- `planning_area`: delete missing data. The latitude and longitude coordinates corresponding to the missing values are outliers, so the missing values cannot be filled in by calculation.

In [193]:
train_data=train_df.copy()
print("Before data cleanning, we have {} record".format(len(train_data)))

def compute_mean_map(col_A, col_B):
    AB = train_df.groupby([col_A], as_index=False)[col_B].mean()
    AB_map = dict(zip(AB[col_A], AB[col_B]))
    return AB_map

def computing_mode_by_neighbor(df, col_A, col_B):
    """
    Fill missing values of a columns based on the flag_feature
    """ 
    df = df.sort_values(by=col_A)
    df[col_B] = df[col_B].fillna(method ='ffill')
    df = df.sort_index(axis=0)
    df[col_B].fillna(value = df[col_B].mode()[0], inplace=True)
    return df

# Impute "tenure" missing data by mean value of each "property" group
train_data = computing_mode_by_neighbor(train_data, 'property_name', 'tenure')

# Impute "built_year" missing data by mean value of each "property" group
property_year_map = compute_mean_map('property_name', 'built_year')
train_data['built_year'].loc[train_data.built_year.isna()] = train_data.loc[train_data.built_year.isna(), :].apply(lambda x: property_year_map[x['property_name']], axis=1)
train_data['built_year'].fillna(value = np.mean(train_data['built_year']), inplace=True) # mismatched type


#Delete missing data
missing_cols = [# 'tenure', 
                'built_year', 
                'num_beds', #'available_unit_types',
               #'subzone', 'planning_area'
               ]
train_data.dropna(subset =missing_cols , axis=0, inplace=True)

# Drop 'floor_level' feature
train_data.drop(columns=['floor_level'], axis=1, inplace=True)

# Impute "total_num_units" missing data by mean value
train_data['total_num_units'].fillna(value = np.mean(train_data['total_num_units']), inplace=True)

# Imput 'num_baths' missing data by mean value of the same "num_beds"
bath_bed = train_data.groupby(['num_beds'], as_index=False)['num_baths'].mean()
bath_bed_map = dict(zip(bath_bed['num_beds'], bath_bed['num_baths']))
train_data['num_baths'].loc[train_data.num_baths.isna()] = train_data.loc[train_data.num_baths.isna(), :].apply(lambda x: bath_bed_map[x['num_beds']], axis=1)

train_data.reset_index(drop=True, inplace=True)
print("After data cleanning, we have {} record".format(len(train_data)))
train_data.head(3)

Before data cleanning, we have 20254 record
After data cleanning, we have 20174 record

,listing_id,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,...,closest_secondary,closest_mall,closest_mrt,num_comercial_3km,num_primary_3km,num_secondary_3km,num_mall_2km,num_mrt_1.5km,closeness_closest_mrt,betweenness_closest_mrt
0,122881,hdb flat for sale in 866 yishun street 81,sembawang / yishun (d27),866 yishun street 81,hdb 4 rooms,freehold,1988.0,3.0,2.0,1115,...,0.182562,0.620066,0.573567,0.0,10.0,8.0,2.0,1.0,0.174644,0.128873
1,259374,hdb flat for sale in 506b serangoon north aven...,hougang / punggol / sengkang (d19),hdb-serangoon estate,hdb,99-year leasehold,1992.0,4.0,2.0,1575,...,0.290331,0.551706,1.728895,7.0,24.0,18.0,6.0,0.0,0.065753,0.038208
2,665422,4 bed condo for sale in meyerhouse,128 meyer road,meyerhouse,condo,freehold,2022.0,4.0,6.0,3070,...,0.891531,0.822518,1.315256,1.0,7.0,8.0,7.0,1.0,0.079536,0.021037

In [194]:
# Delete outliers (后续要替换成IQR)
train_data.drop(train_data[(train_data['price']==0)| (train_data['price'] > 120000000)].index, inplace=True)
train_data.drop(train_data[(train_data['size_sqft']==0)| (train_data['size_sqft'] > 100000)].index, inplace=True)
train_data.drop(train_data[(train_data['lat']>2)].index, inplace=True)
train_data.drop(train_data[(train_data['lng']<103)| (train_data['lng'] > 104)].index, inplace=True)
train_data['furnishing'].mask(train_data.furnishing =='na', other = 'unspecified', inplace=True)

train_data.reset_index(drop=True, inplace=True)
train_data.head()

,listing_id,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,...,closest_secondary,closest_mall,closest_mrt,num_comercial_3km,num_primary_3km,num_secondary_3km,num_mall_2km,num_mrt_1.5km,closeness_closest_mrt,betweenness_closest_mrt
0,122881,hdb flat for sale in 866 yishun street 81,sembawang / yishun (d27),866 yishun street 81,hdb 4 rooms,freehold,1988.0,3.0,2.0,1115,...,0.182562,0.620066,0.573567,0.0,10.0,8.0,2.0,1.0,0.174644,0.128873
1,259374,hdb flat for sale in 506b serangoon north aven...,hougang / punggol / sengkang (d19),hdb-serangoon estate,hdb,99-year leasehold,1992.0,4.0,2.0,1575,...,0.290331,0.551706,1.728895,7.0,24.0,18.0,6.0,0.0,0.065753,0.038208
2,665422,4 bed condo for sale in meyerhouse,128 meyer road,meyerhouse,condo,freehold,2022.0,4.0,6.0,3070,...,0.891531,0.822518,1.315256,1.0,7.0,8.0,7.0,1.0,0.079536,0.021037
3,857699,3 bed condo for sale in leedon green,26 leedon heights,leedon green,Condo,freehold,2023.0,3.0,2.0,958,...,1.102476,0.907845,0.723885,8.0,6.0,9.0,3.0,3.0,0.175467,0.259442
4,216061,2 bed condo for sale in one bernam,1 bernam street,one bernam,condo,99-year leasehold,2026.0,2.0,1.0,732,...,1.542649,0.428961,0.370022,3.0,6.0,4.0,5.0,11.0,0.321148,0.122512

In [195]:
# Add auxiliary features
#train_data = train_data.merge(train_auxiliary_df, how='left', on='listing_id')

# Preprocess
def match_tenure(x):
    if x == 'freehold':
        return 'freehold'
    if int(x)<120:
        return '99-year leasehold'
    elif int(x)<1000:
        return '999-year leasehold'
    else:
        return 'error'
    
train_data['property_type'] = train_data['property_type'].str.lower()
train_data['tenure'] = train_data['tenure'].map(lambda x: match_tenure(x.split('-')[0]))

# One-hot encoding
encoding_list = ['furnishing', #'subzone', 'planning_area', 
                 'property_type', 'tenure']
train_numeric = train_data.drop(encoding_list, axis=1)

encoder = OneHotEncoder(categories='auto')
train_labels = encoder.fit_transform(train_data[encoding_list])
train = np.hstack((train_numeric.values, train_labels.toarray()))
train_columns = list(train_numeric.columns) + list(encoder.get_feature_names(encoding_list))
train = pd.DataFrame(train, columns=train_columns)

# Target encoding for 'subzone' and 'planning area'
planning_encoder= ce.TargetEncoder(cols='planning_area')
subzone_encoder = ce.TargetEncoder(cols='subzone') 
train['planning_area'] = planning_encoder.fit_transform(train_data[['planning_area']],train_data['price'])
train['subzone'] = subzone_encoder.fit_transform(train_data[['subzone']],train_data['price'])

# feature selection
deleted_features = ['listing_id', 'title', 'address', 'property_name', 'property_details_url',
                   'elevation', 'available_unit_types','num_baths', #'lat', 'lng'#'total_num_units'
                   'num_comercial_3km', 'num_secondary_3km' # 'subzone', 'planning_area', 
#                    'betweenness_closest_mrt', 'closest_secondary','closest_mall', 'closest_mrt'#  'closeness_closest_mrt','num_mrt_1.5km'
                    # 
                   ]

data = train.drop(columns=deleted_features, axis=1)
x = data.drop(columns=['price'],axis=1)
y = data['price']

# Feature Normalization
scaler_std = StandardScaler()
x = scaler_std.fit_transform(x)

# pca
# pca = PCA(n_components=0.95)
# x = pca.fit_transform(x)

In [196]:
x

array([[-1.46066429, -0.09640821, -0.30394541, ..., -1.26429328,
        -0.17332126,  1.34591835],
       [-1.20308122,  0.68282316, -0.07684413, ...,  0.79095572,
        -0.17332126, -0.74298712],
       [ 0.72879183,  0.68282316,  0.66123504, ..., -1.26429328,
        -0.17332126,  1.34591835],
       ...,
       [ 0.7931876 ,  0.68282316, -0.17410272, ..., -1.26429328,
        -0.17332126,  1.34591835],
       [ 0.40681299, -0.09640821, -0.25951255, ...,  0.79095572,
        -0.17332126, -0.74298712],
       [ 0.7931876 ,  0.68282316, -0.17410272, ..., -1.26429328,
        -0.17332126,  1.34591835]])

In [178]:
# construct pipeline
pipe_xgboost = Pipeline([
        ('xgb_model', XGBRegressor(n_estimators= 500, max_depth= 7, eta=0.08, subsample=0.9, colsample_bytree=0.9))
        ])

# model performance
pipe_xgboost.fit(x,y)
y_predict = pipe_xgboost.predict(x)
print(f'mean squared error is: {mean_squared_error(y,y_predict)}')
print(f'mean absolute error is: {mean_absolute_error(y,y_predict)}')
print(f'R Squared is: {r2_score(y,y_predict)}')

mean squared error is: 117979087881.42393
mean absolute error is: 130805.1144157772
R Squared is: 0.995146061599892

In [179]:
import copy
test_data = copy.deepcopy(test_df)
test_fillvalues = {"tenure": test_df['tenure'].mode()[0],
                  "built_year": test_df['built_year'].mode()[0],
                  "num_beds": test_df['num_beds'].mode()[0],
                  "num_baths": test_df['num_baths'].mode()[0],
                  "total_num_units": test_df['total_num_units'].mode()[0],
                   "subzone": "balestier",
                   "planning_area":"novena",
                  }

def computing_mode_by_neighbors(df, col_A, col_B, col_C):
    """
    Fill missing values of a columns based on the flag_feature
    """ 
    df = df.sort_values(by=[col_A, col_C])
    df[col_B] = df[col_B].fillna(method ='ffill')
    df = df.sort_index(axis=0)
    df[col_B].fillna(value = df[col_B].mode()[0], inplace=True)
    return df

# Add auxiliary features
#test_data = test_data.merge(test_auxiliary_df, how='left', on='listing_id')
test_data = test_data.drop(columns=deleted_features+['floor_level'], axis=1)
test_data.fillna(value=test_fillvalues, inplace=True)

# feature engineering
test_data['property_type'] = test_data['property_type'].str.lower()
test_data['furnishing'].mask(test_data.furnishing == 'na', other =test_data['furnishing'].mode()[0], inplace=True)
test_data['tenure'] = test_data['tenure'].map(lambda x: match_tenure(str(x).split('-')[0]))

# one-hot encoding 
test_numeric = test_data.drop(encoding_list, axis=1)
test_labels = encoder.transform(test_data[encoding_list])
test = np.hstack((test_numeric.values, test_labels.toarray()))
test_columns = list(test_numeric.columns) + list(encoder.get_feature_names(encoding_list))
test_x = pd.DataFrame(test, columns=test_columns)

# label encoding
test_x['planning_area'] = planning_encoder.transform(test_data[['planning_area']])
test_x['subzone'] = subzone_encoder.transform(test_data[['subzone']])

# scaler
X_test = scaler_std.transform(test_x)

#pca
# X_test = pca.transform(X_test)
# test_x

In [182]:
test_x.columns

Index(['built_year', 'num_beds', 'size_sqft', 'total_num_units', 'lat', 'lng',
       'subzone', 'planning_area', 'num_primary_3km', 'num_mall_2km',
       'num_mrt_1.5km', 'closeness_closest_mrt', 'betweenness_closest_mrt',
       'furnishing_fully', 'furnishing_partial', 'furnishing_unfurnished',
       'furnishing_unspecified', 'property_type_apartment',
       'property_type_bungalow', 'property_type_cluster house',
       'property_type_condo', 'property_type_conservation house',
       'property_type_corner terrace', 'property_type_executive condo',
       'property_type_good class bungalow', 'property_type_hdb',
       'property_type_hdb 2 rooms', 'property_type_hdb 3 rooms',
       'property_type_hdb 4 rooms', 'property_type_hdb 5 rooms',
       'property_type_hdb executive', 'property_type_land only',
       'property_type_landed', 'property_type_semi-detached house',
       'property_type_shophouse', 'property_type_terraced house',
       'property_type_townhouse', 'property_type_walk-up',
       'tenure_99-year leasehold', 'tenure_999-year leasehold',
       'tenure_freehold'],
      dtype='object')

In [183]:
test_y = pipe_xgboost.predict(X_test)
result = pd.DataFrame({"Id": np.arange(len(test_y)), "Predicted": test_y })
result.to_csv("test_predictions_v9.csv",index=False, sep=',')

In [148]:
example = pd.read_csv('./data/example-submission.csv',sep=',' )
np.array(example['Predicted'])
true_y = np.array(example['Predicted'])
print(f'mean squared error is: {mean_squared_error(true_y,test_y)}')
print(f'mean absolute error is: {mean_absolute_error(true_y,test_y)}')
print(f'R Squared is: {r2_score(true_y,test_y)}')

mean squared error is: 2111908110211.6128
mean absolute error is: 467741.6992748259
R Squared is: 0.8930448207171661

n_estimators=1000, max_depth=7, eta=0.01, subsample=0.9, colsample_bytree=0.8
0.8843971201810716

n_estimators=1000, max_depth=6, eta=0.01, subsample=0.9, colsample_bytree=0.7
0.8800881857425354

n_estimators=1000, max_depth=8, eta=0.01, subsample=0.9, colsample_bytree=0.7

0.8810746521351247

n_estimators=1000, max_depth=8, eta=0.01, subsample=0.9, colsample_bytree=0.7

0.8812985415273783

n_estimators=1500, max_depth=8, eta=0.01, subsample=0.9, colsample_bytree=0.7

 0.8812489688280383

In [197]:
result = pd.DataFrame({"Id": np.arange(len(test_y)), "Predicted": test_y })
result.to_csv("test_predictions_v11.csv",index=False, sep=',')

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=500, max_depth=30, random_state=0)
rf.fit(x, y)
y_predict = rf.predict(x)
print(f'mean squared error is: {mean_squared_error(y,y_predict)}')
print(f'mean absolute error is: {mean_absolute_error(y,y_predict)}')
print(f'R Squared is: {r2_score(y,y_predict)}')

In [ ]:
test_y = rf.predict(X_test)
example = pd.read_csv('./data/example-submission.csv',sep=',' )
np.array(example['Predicted'])
true_y = np.array(example['Predicted'])
print(f'mean squared error is: {mean_squared_error(true_y,test_y)}')
print(f'mean absolute error is: {mean_absolute_error(true_y,test_y)}')
print(f'R Squared is: {r2_score(true_y,test_y)}')

In [152]:
from sklearn.neural_network import MLPRegressor
MLP = MLPRegressor(random_state=1, max_iter=1000,learning_rate_init=0.01,hidden_layer_sizes=(500,100)).fit(x, y)
y_predict = MLP.predict(x)
print(f'mean squared error is: {mean_squared_error(y,y_predict)}')
print(f'mean absolute error is: {mean_absolute_error(y,y_predict)}')
print(f'R Squared is: {r2_score(y,y_predict)}')

mean squared error is: 2775683773003.4507
mean absolute error is: 451137.4999429362
R Squared is: 0.8858018120475795

In [154]:
test_y = MLP.predict(X_test)
example = pd.read_csv('./data/example-submission.csv',sep=',' )
np.array(example['Predicted'])
true_y = np.array(example['Predicted'])
print(f'mean squared error is: {mean_squared_error(true_y,test_y)}')
print(f'mean absolute error is: {mean_absolute_error(true_y,test_y)}')
print(f'R Squared is: {r2_score(true_y,test_y)}')

mean squared error is: 6404476041244814.0
mean absolute error is: 4409592.842703748
R Squared is: -323.34738987546086

In [155]:
test_y

array([ 888179.36245661, 1402205.8387704 , 1086835.53185614, ...,
       3545734.47312141, 1138350.34940813, 4081709.85410634])